<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta http-equiv="refresh" content="1"/> -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>WaMeir</h2>

    <form action="/walink" method="POST">
        <label for="Country">Choose Your Country:</label>
        <select id="cnid" name="cid">
          <option value="https://wa.me/+234">Nig</option>
          <option value="https://wa.me/+1">USA</option>
          <option value="https://wa.me/+43">UK</option>
          <option value="https://wa.me/+42">PH</option>
        </select>
        <br><br>
      <textarea id="numbers" name="numbs" rows="4" cols="50">
    </textarea><br><br>
      <input type="submit">
    </form> 
    
</body>
</html>