<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WaMeir - Reach out to whatsapp users without saving numbers</title>
</head>
<body>
    <h2 style="text-align: center;">WaMeir 😀👌</h2>
    <ul style="line-height: normal;line-height: 2;">
      <li>For Nigeria Numbers: Enter your numbers in this format 080XXXXXXXXX</li>
      <li>For USA Numbers: Enter your numbers in this format +1XXXXXXXXXX</li>
      <li>For UK Numbers: Enter your numbers in this format +44XXXXXXXXXX</li>
    </ul>
     
    <form action="/walink" method="POST">
        <label for="Country">Choose Your Country:</label>
        <select id="cnid" name="cid">
          <option value="https://wa.me/+234">Nigeria</option>
          <option value="https://wa.me/+1">United States</option>
          <option value="https://wa.me/+44">United Kingdom</option>
        </select>
        <br/><br/>
        <textarea  placeholder="Paste those numbers" rows="10" cols="50" name="numbs"></textarea>
    <br/><br/>
      <input type="submit">
    </form> 
</body>
</html>